@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
.login-container {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}

#signIn-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#signIn-form.sign-up-form {
    opacity: 0;
    z-index: 1;
}

#signIn-form.sign-in-form {
    z-index: 2;
}

.login-title {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #5f5e5e;
    letter-spacing: .15em;
    text-shadow: 2.8px 0.8px 0 #bbbaba;
}

.input-field {
    max-width: 400px;
    width: 100%;
    margin: 10px 0;
    height: 55px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
    border: 1.33px solid #bbbbbb;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 14px;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 14px;
    color: #333;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
}

.social-icon:hover {
    color: #4270f4;
    border-color: #4270f4;
}

.login-btn {
    width: 150px;
    background-color: #4270f4;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.login-btn:hover {
    background-color: #4270f4;
}

.panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.login-container:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 46%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #577ff1 0%, #4270f4 100%);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
}

.image {
    width: 100%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
}

.left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.panel .content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
}

.panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.login-btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
    transform: translateX(800px);
}


/* ANIMATION */

.login-container.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 54%;
}

.login-container.sign-up-mode .left-panel .image,
.login-container.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
}

.login-container.sign-up-mode .signin-signup {
    left: 25%;
}

.login-container.sign-up-mode #signIn-form.sign-up-form {
    opacity: 1;
    z-index: 2;
}

.login-container.sign-up-mode #signIn-form.sign-in-form {
    opacity: 0;
    z-index: 1;
}

.login-container.sign-up-mode .right-panel .image,
.login-container.sign-up-mode .right-panel .content {
    transform: translateX(0%);
}

.login-container.sign-up-mode .left-panel {
    pointer-events: none;
}

.login-container.sign-up-mode .right-panel {
    pointer-events: all;
}

@media (max-width: 870px) {
    .login-container {
        min-height: 800px;
        height: 100vh;
    }
    .signin-signup {
        width: 100%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }
    .signin-signup,
    .login-container.sign-up-mode .signin-signup {
        left: 50%;
    }
    .panels-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }
    .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
        grid-column: 1 / 2;
    }
    .right-panel {
        grid-row: 3 / 4;
    }
    .left-panel {
        grid-row: 1 / 2;
    }
    .image {
        width: 200px;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.6s;
    }
    .panel .content {
        padding-right: 15%;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.8s;
    }
    .panel h3 {
        font-size: 1.2rem;
    }
    .panel p {
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }
    .login-btn.transparent {
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }
    .login-container:before {
        width: 1500px;
        height: 1500px;
        transform: translateX(-50%);
        left: 30%;
        bottom: 68%;
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }
    .login-container.sign-up-mode:before {
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }
    .login-container.sign-up-mode .left-panel .image,
    .login-container.sign-up-mode .left-panel .content {
        transform: translateY(-300px);
    }
    .login-container.sign-up-mode .right-panel .image,
    .login-container.sign-up-mode .right-panel .content {
        transform: translateY(0px);
    }
    .right-panel .image,
    .right-panel .content {
        transform: translateY(300px);
    }
    .login-container.sign-up-mode .signin-signup {
        top: 5%;
        transform: translate(-50%, 0);
    }
}

@media (max-width: 570px) {
    #signIn-form {
        padding: 0 1.5rem;
    }
    .image {
        display: none;
    }
    .panel .content {
        padding: 0.5rem 1rem;
    }
    .login-container {
        padding: 1.5rem;
    }
    .login-container:before {
        bottom: 72%;
        left: 50%;
    }
    .login-container.sign-up-mode:before {
        bottom: 28%;
        left: 50%;
    }
}

.password-field {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #acacac;
    font-size: 1.1rem;
    z-index: 2;
}

.toggle-password:hover {
    color: #333;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    width: 100%;
}

.input-field.error {
    border-color: red !important;
}

.input-field i.error {
    color: #ff0000ba;
}

.error-text {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    padding-left: 5px;
    text-align: left;
}


/* Progress container and steps */

.step-number {
    font-size: 16px;
    font-weight: bold;
    /* margin-bottom: 4px; */
}

.step-label {
    font-size: 10px;
    line-height: 1.2;
    color: #555;
    white-space: nowrap;
    text-align: center;
    position: absolute;
    top: 35px;
}

.wizard-header {
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
    padding: 0 3rem;
}

.progress-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
}

.progress-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 4px;
    background-color: #e0e0e0;
    z-index: 1;
}

.progress {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    background: linear-gradient(90deg, #4270f4, #7ba5ff, #4270f4);
    background-size: 200% auto;
    animation: shimmer 1.8s linear infinite;
    width: 0%;
    transition: width 0.4s ease;
    z-index: 2;
    border-radius: 2px;
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    padding: 5px;
    background-color: white;
    border: 3px solid #e0e0e0;
    border-radius: 50%;
    font-weight: bold;
    color: #999;
    z-index: 3;
    position: relative;
    font-size: 14px;
    transition: all 0.3s ease;
    text-align: center;
}

.circle.active {
    border-color: #4270f4;
    color: #4270f4;
    font-size: 17px;
    box-shadow: 0 0 8px rgba(132, 162, 247, 0.5);
}

.step-label.active {
    color: #4270f4;
    font-size: 10.8px;
    filter: drop-shadow(0px 2px 1px rgba(66, 112, 244, 0.5));
}


/* Make it responsive */

@media screen and (max-width: 600px) {
    .circle {
        width: 28px;
        height: 28px;
        font-size: 12px;
    }
    .progress-container {
        max-width: 100%;
    }
    .wizard-header {
        padding: 0 0.5rem;
    }
}