.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    color: white;
}

.notification-whatsapp-badge {
    position: absolute;
    top: 2px;
    left: 31%;
    width: 18px;
    height: 18px;
    background: #d1160c;
    color: white;
    text-align: center;
    font-size: 10px;
    line-height: 18px;
    border-radius: 50%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.whatsapp-notification {
    background: #deeaf9;
    height: 35px;
    border-radius: 100px;
    width: 35px;
    text-align: center;
    padding: 8px;
    color: #656565;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}